.sign-language {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sign-language-text {
  color: #000000;
  margin-top: 32rem;
}

.webcam {
  box-shadow: 0 0 3px 1px #010101;
  margin-top: 4rem;
}
